{{!-- Custom search limit messages are sent as summary tag --}}
{{#if (gt block.data.summary.length 0)}}
    {{#each block.data.summary as | tag | }}
        <span
            {{on 'click' (optional this.scrollToIntegration)}}
                class='integration-summary-tag integration-background-color integration-border-color'
        >
    <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
    <span class='integration-text-color'>
      {{fa-icon icon='exclamation-circle' fixedWidth=true class='summary-tag-icon'}} {{tag}}
    </span>
  </span>
    {{/each}}
{{else if details.canSubmitUrl}}
{{!-- The entity was not found but the user can submit it for scanning --}}
    <span
      {{on 'click' (optional this.scrollToIntegration)}}
      class='integration-summary-tag integration-background-color integration-border-color'
    >
      <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
      <span class='integration-text-color'>Not Found</span>
    </span>
{{else}}
{{!-- The entity was found and we should display our custom tags --}}
    <span
      {{on 'click' (optional this.scrollToIntegration)}}
      class='integration-summary-tag integration-background-color integration-border-color'
    >
      <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
      <span class='integration-text-color'>
        {{#if overallVerdict.malicious}}
          Malicious
        {{else}}
          Not Malicious
        {{/if}}
      </span>
    </span>

    {{#if (or overallVerdict.score (eq overallVerdict.score 0))}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          Score:
          {{if (eq overallVerdict.score 0) '0' overallVerdict.score}}
        </span>
      </span>
    {{/if}}

    {{#each overallVerdict.tags as |tag|}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          {{fa-icon 'tag' fixedWidth=true}}
          {{tag}}
        </span>
      </span>
    {{/each}}

    {{#each overallVerdict.categories as |tag|}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          {{fa-icon 'boxes' fixedWidth=true}}
          {{tag}}
        </span>
      </span>
    {{/each}}

    {{#each overallVerdict.brands as |brand|}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          {{fa-icon 'copyright' fixedWidth=true}}
          {{brand}}
        </span>
      </span>
    {{/each}}
    {{#if details.total}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          Results:
          {{details.total}}
        </span>
      </span>
    {{/if}}
    {{#if details.searchLimitTag}}
      <span
        {{on 'click' (optional this.scrollToIntegration)}}
        class='integration-summary-tag integration-background-color integration-border-color'
      >
        <span class='acronym integration-text-bold-color'>{{block.acronym}}</span>
        <span class='integration-text-color'>
          Daily Searches Remaining:
          {{details.searchLimitTag}}
        </span>
      </span>
    {{/if}}
{{/if}}
